In [1]:
import pandas as pd

In [2]:
data = {'firm': ['Bilk Inc.', 'Vine & Co.', 'Kiln Inc.', 'Y & Y Consulting', 'Trending Inc.'],    'fee_2020': [1150, 2300, 3400, 1500, 6500]           }

In [3]:
df= pd.DataFrame(data)
df

               firm  fee_2020
0         Bilk Inc.      1150
1        Vine & Co.      2300
2         Kiln Inc.      3400
3  Y & Y Consulting      1500
4     Trending Inc.      6500

In [7]:
df["fee_2021"] = df["fee_2020"].apply(lambda x: x * 1.1)

TypeError: 'method' object is not subscriptable

In [10]:
df["value difference"] = df.apply(lambda x: x["fee_2021"] - x["fee_2020"], axis =1 )

In [9]:
df

               firm  fee_2020  fee_2021
0         Bilk Inc.      1150    1265.0
1        Vine & Co.      2300    2530.0
2         Kiln Inc.      3400    3740.0
3  Y & Y Consulting      1500    1650.0
4     Trending Inc.      6500    7150.0

In [11]:
df["value difference"]

0    115.0
1    230.0
2    340.0
3    150.0
4    650.0
Name: value difference, dtype: float64

In [12]:
df

               firm  fee_2020  fee_2021  value difference
0         Bilk Inc.      1150    1265.0             115.0
1        Vine & Co.      2300    2530.0             230.0
2         Kiln Inc.      3400    3740.0             340.0
3  Y & Y Consulting      1500    1650.0             150.0
4     Trending Inc.      6500    7150.0             650.0